//** ------------------ Colors ------------------ **//

// ** Primary Colors
$primary-color : #5A4AF4;
$primary-50-color:#EBE9FE;
$primary-100-color:#DEDBFD;
$primary-200-color:#BEB7FB;
$primary-300-color:#9C92F8;
$primary-400-color:#7B6EF6;
$primary-500-color:#5A4AF4;
$primary-600-color:#483BC3;
$primary-700-color:#362C92;
$primary-800-color:#251E62;
$primary-900-color:#120F31;


// ** Success Colors
$success-color : #05CE91;
$success-50-color:#E1F9F2;
$success-100-color:#CDF5E9;
$success-200-color:#9BEBD3;
$success-300-color:#69E2BD;
$success-400-color:#37D8A7;
$success-500-color:#05CE91;
$success-600-color:#04A574;
$success-700-color:#037C57;
$success-800-color:#02523A;
$success-900-color:#01291D;

// ** Secondary Colors
$secondry-color : #1EA5FC;
$secondry-50-color:#E4F4FF;
$secondry-100-color:#D2ECFE;
$secondry-200-color:#A5DBFE;
$secondry-300-color:#78C8FD;
$secondry-400-color:#4BB7FD;
$secondry-500-color:#1EA5FC;
$secondry-600-color:#1884CA;
$secondry-700-color:#126297;
$secondry-800-color:#0C4265;
$secondry-900-color:#062032;


// ** Error Colors
$error-color : #FF6161;
$error-50-color:#FFECEC;
$error-100-color:#FFDFDF;
$error-200-color:#FFC0C0;
$error-300-color:#FFA0A0;
$error-400-color:#FF8181;
$error-500-color:#FF6161;
$error-600-color:#CC4E4E;
$error-700-color:#993A3A;
$error-800-color:#662727;
$error-900-color:#331313;


// ** Tertary Colors
$tertary-color : #B66DFF;
$tertary-50-color:#F6EDFF;
$tertary-100-color:#F0E2FF;
$tertary-200-color:#E2C5FF;
$tertary-300-color:#D3A7FF;
$tertary-400-color:#C58AFF;
$tertary-500-color:#B66DFF;
$tertary-600-color:#9257CC;
$tertary-700-color:#6D4199;
$tertary-800-color:#492C66;
$tertary-900-color:#241633;


// ** Warning Colors
$warning-color : #FFAD49;
$warning-50-color:#FFF5E9;
$warning-100-color:#FFEFDB;
$warning-200-color:#FFDEB6;
$warning-300-color:#FFCE92;
$warning-400-color:#FFBD6D;
$warning-500-color:#FFAD49;
$warning-600-color:#CC8A3A;
$warning-700-color:#99682C;
$warning-800-color:#66451D;
$warning-900-color:#33230F;


// ** Warning Colors
$warning-color : #FFAD49;
$warning-50-color:#FFF5E9;
$warning-100-color:#FFEFDB;
$warning-200-color:#FFDEB6;
$warning-300-color:#FFCE92;
$warning-400-color:#FFBD6D;
$warning-500-color:#FFAD49;
$warning-600-color:#CC8A3A;
$warning-700-color:#99682C;
$warning-800-color:#66451D;
$warning-900-color:#33230F;


// ** Natural Colors

    // ** Gray Colors
    $gray-50-color:#EBEEF5;
    $gray-100-color:#C3C8D4;
    $gray-200-color:#A8AEBF;
    $gray-300-color:#8E95A9;
    $gray-400-color:#767E94;
    $gray-500-color:#61697F;
    $gray-600-color:#475069;
    $gray-700-color:#323B54;
    $gray-800-color:#20283E;
    $gray-900-color:#121829;

    // ** white Colors
    $white-10-color:rgba(255, 255, 255, 0.1);
    $white-20-color:rgba(255, 255, 255, 0.2);
    $white-30-color:rgba(255, 255, 255, 0.3);
    $white-40-color:rgba(255, 255, 255, 0.4);
    $white-50-color:rgba(255, 255, 255, 0.5);
    $white-65-color:rgba(255, 255, 255, 0.65);
    $white-75-color:rgba(255, 255, 255, 0.75);
    $white-100-color:#FFFFFF;

    // ** Black Colors
    $black-10-color:rgba(0, 0, 0, 0.1);
    $black-20-color:rgba(0, 0, 0, 0.2);
    $black-30-color:rgba(0, 0, 0, 0.3);
    $black-40-color:rgba(0, 0, 0, 0.4);
    $black-50-color:rgba(0, 0, 0, 0.5);
    $black-65-color:rgba(0, 0, 0, 0.65);
    $black-75-color:rgba(0, 0, 0, 0.75);
    $black-100-color:#000000;
    